{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}

<!--Create a form-->
    <!--Collect departure date -->
    <form action="/create" method="post">
        <div class="form-group">
            &nbsp; &nbsp;
            Leaving: &nbsp; <input autocomplete="off" class="form-control" name="byedate" id="byedate" type="date" required autofocus> &emsp; &emsp; &emsp; &emsp; &emsp;
        </div>

    <!--Collect return date-->
        <div class="form-group">
            Returning: &nbsp; <input autocomplete="off" class="form-control" name="hidate" id="hidate" type="date" required> &emsp; &emsp; &emsp; &emsp;&emsp;
        </div>

    <!--Create trip title-->
        <div class="form-group">
            Trip Title: &nbsp; <input autocomplete="off" class="form-control" name="triptitle" placeholder='e.g. "Winterbreak"' type="text" required> &emsp; &emsp; &emsp; &emsp; &emsp;
        </div>

    <!--Collect certainty-->
        <div class="form-group">
            <div class="form-check">
                Certainy: &emsp; &emsp;
                <input class="form-check-input" type="checkbox" name="certainty" id="tentative" value="Tentative">
                <label class="form-check-label" for="tentative"> Tentative </label> &emsp; &emsp;

                <input class="form-check-input" type="checkbox" name="certainty" id="finalized" value="Finalized">
                <label class="form-check-label" for="finalized"> Finalized </label> &emsp; &emsp; &emsp; &emsp; &emsp;
            </div>
        </div>


    <!--Submit form-->
        <button class="btn btn-primary" type="submit"> Submit AwayDays</button> &emsp;
    </form>


    <script>
        var x = document.getElementById("byedate");
        var defaultVal = x.defaultValue;
        var currentVal = x.value;
        console.log("hello");
        console.log(defaultVal);


    // <button onclick="myFunction()">Try it</button>-->
    //  --------------------------------------
    //         function datescheck() {
    //             alert("Your departure date must be before your return date");
    //          }
    </script>


<script>
    // error checking
    document.querySelector('form').onsubmit = function() {
        let byedate = document.querySelector('input[name=byedate]');
        let hidate = document.querySelector('input[name=hidate]');

        // ensure departure date is before return
        if (byedate.value>hidate.value) {
            alert('Your departure date must be before your return date');
            byedate.focus();
            console.log("datecheck error")
            return false
        }

    //  // Ensure date is in the present
        // if (byedate.value>) {
        //     alert('Your departure date must be before your return date');
        //     byedate.focus();
        //     console.log("datecheck error")
        //     return false
        // return true;
    };
</script>

    <!--edited based on staff example-->

</html>
{% endblock %}
